:root {
    /* Font */
    --primary-font: "Ruda", sans-serif;

    /* COLOR */
    --bone-white: #ebd4d4;
    --black: #000;
    --ocean-blue: #001bb5;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

a {
    color: var(--black);
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

/* UTILITY */
.container {
    margin: 0 auto;
    padding: 0 20px;
}


/* HEADER */
header {
    background-color: var(--ocean-blue);
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    color: var(--bone-white);
    z-index: 999;
}
/* HEADER */

/* MAIN CONTENT */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bone-white);
}

main .box-container {
    width: 768px;
    border: var(--ocean-blue) solid 2px;
    border-radius: 8px;
    margin: 16px;
    background: #f8f9fa;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}


.box-container > h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.form-group > label {
    font-size: 18px;
    margin-bottom: 12px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--bone-white);
    border-radius: 8px;
    margin-bottom: 12px;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5),
    0 15px 40px rgba(166, 173, 201, 0.3);
}

.btn-submit {
    width: fit-content;
    font-family: Ruda, sans-serif;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #758bea;
    color: black;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 12px;
    align-self: flex-end;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.btn-submit:hover {
    background: #1600ba;
    color: white;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.list-item {
    width: auto;
    align-items: center;
    padding: 12px 24px;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin: 5px 0 5px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.item > .inner p {
font-size: 14px;
}

.item > img {
    width: 110px;
    height: 160px;
    margin-right: 10px;
    border-radius: 16px;
    object-fit: cover;
    transition: all ease-in-out 0.2s;
}

.item > img:hover {
    transform: scale(1.05);
}

.list-header > .search-bar {
    width: 300px;
    height: 30px;
    padding: 10px 0 10px 30px;
    border-radius: 14px;
    border: 1px solid var(--bone-white);
}

/* BUTTON ICON */
.check-button {
    background-color: rgb(39, 255, 39);
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.2s;
}

.check-button:hover {
    background-color: rgb(24, 199, 24);
    color: var(--bone-white);
}

.trash-button {
    background-color: rgb(255, 0, 0);
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.2s;
    background-size: contain;
    margin-left: 12px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background-color: rgb(198, 0, 0);
    color: var(--bone-white);
}

.undo-button {
    background-color: rgb(0, 217, 255);
    padding: 6px 12px;
    border-radius: 12px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.2s;
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background-color: rgb(0, 173, 204);
    color: var(--bone-white);
}
/* BUTTON ICON */

/* MAIN CONTENT */
/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    main .box-container {
        width: 90%; 
        margin: 8px;
        padding: 8px;
    }

    .list-header > h2 {
        font-size: 20px;
    }

    .list-header > .search-bar {
        width: 80%;
    }

    .item {
        padding: 8px; 
    }

    .item > img {
        width: 80px; 
        height: 120px;
        object-fit: cover;
    }

    .item > .inner h2 {
        font-size: 18px; 
    }

    .item > .inner p {
        font-size: 14px; 
    }

    .btn-submit {
        font-size: 18px; 
        padding: 8px 16px; 
    }

    .check-button,
    .trash-button,
    .undo-button {
        padding: 4px 8px; 
        font-size: 12px; 
    }
}

@media screen and (max-width: 425px) {
    .item {
        display: block;
        padding: 8px;
    }

    .item > img {
        margin-left: 16px;
    }

    .inner {
        margin-left: 12px;
        margin-bottom: 12px;
    }

    .check-button,
    .trash-button,
    .undo-button {
        margin: 0 0 8px 12px;
    }
}
  /* RESPONSIVE DESIGN */